.simple_form {
  display: grid;
  grid-row-gap: 16px;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__notes {
    resize: none;
    padding: 8px;
    font-size: 0.7em;
    min-height: 40vh;
  }
}
