@import '../../stylesheets/variables';

.movement {
  display: grid;

  &__group {
    display: grid;

    &__name {
      margin-left: 8px;
      color: $gray;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
