.complicated_status_form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 16px;
  align-items: center;
  justify-items: stretch;

  &__title {
    grid-column: span 2;
    text-align: center;
  }

  input {
    font-size: 1em;
    padding: 5px;
  }

  &__notes {
    grid-column: span 2;
    min-height: 40vh;
    font-size: 1em;
    resize: none;
    padding: 5px;
  }
}
