@import '../../stylesheets/variables';

.status {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $platinum;
    margin-bottom: 4px;
  }

  &__title {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
  }

  &__since {
    font-size: 9px;
    font-weight: 700;
    color: $gray;
  }

  &.current {
    .status__icon {
      background-color: $blue;

      > img {
        filter: invert(100%);
      }
    }

    .status__title {
      color: $blue;
    }
  }
}
